[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = https://github.com/saleor/saleor-dashboard.git
[submodule "saleor"]
	path = saleor
	url = https://github.com/saleor/saleor.git
[submodule "saleor-storefront-sneakershop"]
	path = saleor-storefront-sneakershop
	url = https://github.com/maciej44/saleor-storefront-sneakershop.git
